BasedOnStyle: Google
Standard: Cpp11
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: false
BinPackArguments: false
SortUsingDeclarations: false
BreakBeforeBinaryOperators: NonAssignment
SpacesBeforeTrailingComments: 1
DerivePointerAlignment: true
PointerAlignment: Right
AlignTrailingComments: false
SpacesInContainerLiterals: false